/* Стилизация шапки */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Стилизация разделов */
section {
    padding: 20px;
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Стилизация списков */
ul {
    padding-left: 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 10px;
}

/* Стилизация подвала
